<div class="container">
  <div>
    <%= flash[:notice] %>
  </div>
  <h1 class="row d-flex justify-content-center mt-3">
    welcome to <i class="fa-solid fa-book"></i>Bookers !!
  </h1>
  <div class="row d-flex justify-content-center m-3">
    <p>
      In <i class="fa-solid fa-book"></i>Bookers,<br>
      you can share and exchange your opinions , inpressions , and emotions<br>
      about various books!
    </p>
  </div>
  <div class="row d-flex justify-content-center m-3">
    <%= link_to 'Log in', new_user_session_path, class: 'top_btn btn btn-info'  %>

  </div>
  <div class="row d-flex justify-content-center m-3">
    <%= link_to 'Sign up', new_user_registration_path, class: 'top_btn btn btn-success'  %>
  </div>
</div>